.home-page img{
width: 100%;
height: 450px;
}

.home-page p{
    
    padding:15px 0;
    
}
p{
    font-weight: bold;
}
.paragrap{
    margin-top: 15px;
    font-size: 18px;
    padding: 10px;

}

.profile-image{
    width: 200px;
    margin-top: 1rem;
    // margin-left: 450px;
    margin-left: 26rem;
}